body{
    background: rgb(255, 255, 255);
    margin-top: 0%;
    margin-left: 5px;
    margin-right: 5px;

}

.logo{
    display:flex;
    justify-content: center;
    padding: 15px;
}

#menu{
    background: #FFF;  
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width:100%;   
}
#menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 100%;
}

#menu ul li {
    display: inline-block;    
}

#menu a {
    font-family: Arial;
    font-size: 14px;
    color: black;
    text-decoration:none;
    display:block;
    padding: 12px 26px;
    text-transform: uppercase;  
}

#menu a:hover{
    color: black;
    background: lightgray
}

section{
    margin-top: 5%;
    margin-left: 30px;
    margin-right: 30px;
}

section h1{
    font-size: x-large;
    font-family: Arial;
}

section h2{
    font-size: large;
    font-family: Arial;
}

section aside{
    font-size: medium;
    font-family: Arial;
}

img.izquierda {
    float: right;
    margin: 15px;
}

section div p{
    font-size: medium;
    font-family: Arial;
}



section div .puntuacion{
    border: solid;
    border-radius: 5px;
    background-color: lightgreen;
    text-align: center;
    font-size: xx-large;
}


footer{
    height: 60px;
    background-color: rgb(14, 13, 13);
    text-align: center;
}

footer ul{
    list-style: none;
        display: inline-block;
        padding: 5px;
}

footer ul li{
    float: left;

}

footer ul li a {
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-size: 12px;
    padding: 18px;
}

.social a:hover{
    background-color: black;
  }

  git config --global user.email "you@example.com"
  git config --global user.name "Tu Nombre"