body{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 15px;
    background-image: url(https://t1.daumcdn.net/cfile/tistory/2205734C5659A9AC1A);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.logo{
    padding-bottom: 0%;
    padding-right: 10px;
    position: relative;
    bottom: 120px;
    padding: 15px;
}

a{
    margin: 15px;
}

h1{
    color: white;
    text-shadow: 0px 0px 20px black, 0px 0px 20px turquoise;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

label {
    text-shadow: 0px 0px 25px black, 0px 0px 25px black;
    color: white;
    display: inline-block;
    width: 20%;
    text-align: right;
    font-family: Arial;
    text-align: right;
    font-weight: bold;
}

li{
    padding: 5px;
}

input,
select,
textarea {
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: medium;
    width: 25%;
    border: 1px solid #999;
    margin-left: 15px;
    padding: 6px 10px;
    resize: none;
}

li p{
    color: white;
}

textarea{
    height: 100px;
}

.terminos{
    margin-left: 25%;
    margin-top: 10px;
}

.terminos input{
    width: 15px;
    padding: 0%;
    color: white;
    font-size: medium;
    margin: 0;
}

.terminos label{
    font-weight: lighter;
    text-align: justify;
    font-size: small;
    width: 25%;
    padding: 0;
    margin: 0;
}

button{
    font-family: Arial;
    font-size: medium;
    background-color: lightgray;
    padding: 6px 15px;
    margin-left: 27%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: lightgreen;
    cursor:pointer;
}

footer{
    width: 100%;
    height: 10%;
    background-color: rgb(14, 13, 13);
    text-align: center;
    position: absolute;
    bottom: 0;
}

footer ul{
    list-style: none;
        display: inline-block;
        padding: 3px;
}

footer ul li{
    float: left;

}

footer ul li a {
    color: white;
    font-family: Arial;
    text-decoration: none;
    font-size: 12px;
    padding: 16px;
}

.social a:hover{
    background-color: black;
  }
